body {
    font-family: Georgia;
    color: #434027;
}

#TW {
    border: 5px solid #C7C2A1;
    background-color: #FCFCF5;
    text-align: justify;
    padding: 0 10px;
}

em {
    text-decoration: underline;
}

.box-conteudo {
    margin: 30px 10px 20px 0px;
    padding: 10px;
    border: 1px inset #C7C2A1;
    background-color: #F3F1DC;
}

.box-conteudo h1 {
    font-size:20px;
    margin:0;
}

#teorica :first-child {
    font-style: italic;
    font-weight: bold;
}

p::first-letter {
    text-transform: uppercase;
    font-size: 30px;
}

a {
    color: black;
}

a:hover {
    background-color: #FF7C35;
    text-decoration: none;
    color: white;
}

[class|="destaque"] { 
    color: red;
}

.email::before {
    content: "<";
} 

.email::after { 
    content: ">"; 
}